@{
    ViewData["Title"] = "History";
}
<div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
        <table id="borroweds" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>BorrowDateTime</th>
                <th>ReturnDateTime</th>
                <th>Status</th>
                <th>Operations</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#borroweds").DataTable({
                responsive: true,
                processing: true,
                ajax: {
                    url: '@Url.Action("GetHistory", "Book", new { Area = "Home" })',
                    dataSrc: ''
                },
                columns: [
                    {data: "book"},
            {
                data: "borrowDateTime",
                render: function(data, type, row) {
                    const date = new Date(data);
                    return date.toLocaleString();
                },
            },
            {
                data: "returnDateTime",
                render: function(data, type, row) {
                    const date = new Date(data);
                    return date.toLocaleString();
                },
            },
            {data: "status"},
                    {
                        data: null,
                        render: function(data, type, row) {
                            const disabledClass = row.buttonVisibility ? '' : 'disabled';
                            return `<a class="btn btn-success mx-2 ${disabledClass}" href="${row.returnUrl}">Return</a>`;
                        },
                    }
                ]
            });
        });
    </script>
}