@model CreateCategoryViewModel

@{
    ViewData["Title"] = "Create a New Category";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-6 offset-md-3 bg-light border rounded py-3">
        <form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post">
            <div class="row mb-3">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="BackStory" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="8" asp-for="BackStory"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary w-50">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>