@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="col-md-6 offset-md-3 my-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Reset Password</h3>
        </div>
        <div class="card-body">
            <form>
                <!-- Email -->
                <div class="form-group row mb-3">
                    <label asp-for="EmailOrUsername" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="EmailOrUsername" class="form-control">
                    </div>
                    <span class="text-danger mt-3">If your credentials are matched, e-mail will be send.</span>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block w-100">Send Link</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted font-weight-bold">
            <span>
                <a asp-area="Account" asp-controller="Auth" asp-action="Login">Sign In</a>, if you remember password. |
                <a asp-area="Account" asp-controller="Auth" asp-action="Register">Sign Up</a>, if you don't have an account.
            </span>
        </div>
    </div>
    <partial name="~/Areas/PartialViews/_DismissibleErrorSummary.cshtml"/>
</div>