<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <partial name="~/Areas/PartialViews/_InsertBootstrapCDN.cshtml"/>
</head>
<body>
<header>
    <partial name="~/Areas/PartialViews/_Navbar.cshtml"/>
</header>

<div class="container-fluid">
    @RenderBody()
</div>

</body>
</html>