@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="border rounded p-5 bg-light m-5">
    <h3 class="mb-5 border-bottom">@ViewData["Title"]</h3>
    <form asp-area="Account" asp-controller="User" asp-action="ChangePassword" method="post">
        <div class="row mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control"/>
        </div>
        <div class="row mb-3">
            <label asp-for="NewPasswordConfirmation" class="form-label"></label>
            <input asp-for="NewPasswordConfirmation" class="form-control"/>
        </div>
        <div class="row mb-3">
            <label asp-for="CurrentPassword" class="form-label"></label>
            <input asp-for="CurrentPassword" class="form-control"/>
        </div>
        <div class="row mt-4">
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </div>
    </form>
</div>
